# Server Configuration
PORT=3002

# MongoDB Database Connection String
MONGODB_URI=your_mongodb_connection_string_here

# JWT Secret Key
JWT_SECRET_KEY=your_jwt_secret_key_here

# AWS S3 Configuration (Optional)
S3_BUCKET=your_s3_bucket_name_here
